@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url("https://fonts.googleapis.com/css?family=Space Mono:400,700");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: #e1c699;
  color: #333333;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
